<head>
    <title>DCASE Datalist / {{dataset.name}}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../assets/dcaseicons/css/dcaseicons.css">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <style>
        ul {
          columns: 2;
          -webkit-columns: 2;
          -moz-columns: 2;
            padding-left: 15px;
        }

        .label{
            font-size: 100%;
        }
    </style>
    <script>
        function back() {
          window.history.back()
        }
    </script>
</head>